In [2]:
import pandas as pd
pd.options.display.max_rows = 6000

calendar = pd.read_csv('calendar.csv')

In [3]:
# columns

calendar.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [4]:
# first 5 rows of calendar

calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,31380,2019-07-10,f,$75.00,$75.00,3,1125
1,18666,2019-07-10,f,$130.00,$130.00,3,730
2,18666,2019-07-11,f,$130.00,$130.00,3,730
3,18666,2019-07-12,f,$130.00,$130.00,3,730
4,18666,2019-07-13,f,$130.00,$130.00,3,730

In [5]:
# starting values in available column

calendar['available'].value_counts()

f    3821594
t    3417451
Name: available, dtype: int64

In [6]:
# cleaning values in available column

calendar.loc[calendar['available'] == 'f', 'available'] = False
calendar.loc[calendar['available'] == 't', 'available'] = True
calendar['available'].value_counts()

False    3821594
True     3417451
Name: available, dtype: int64

In [7]:
# cleaning values in price and adjusted_price column

calendar['price'] = calendar['price'].str.strip('$').str.replace(',', '')
calendar['adjusted_price'] = calendar['adjusted_price'].str.strip('$,').str.replace(',', '')
calendar[['price', 'adjusted_price']].head()

    price adjusted_price
0   75.00          75.00
1  130.00         130.00
2  130.00         130.00
3  130.00         130.00
4  130.00         130.00

In [8]:
# determining missingness among columns

def missingness(df):
    return df.isna().sum().sort_values(ascending = False) / len(df) * 100

missingness(calendar)

adjusted_price    0.002417
price             0.002417
maximum_nights    0.000000
minimum_nights    0.000000
available         0.000000
date              0.000000
listing_id        0.000000
dtype: float64

In [9]:
# determining repeating columns

def repeating_cols(df):
    comparisons = []
    match_ratios = []
    
    for i in range(len(df.columns)):
        for j in range(i + 1, len(df.columns)):
            comparisons_i = [df.columns[i], df.columns[j]]
            comparisons.append(comparisons_i)
    
    for i in comparisons:
        match_ratios_i = [(df[i[0]] == df[i[1]]).sum() / len(df) * 100, i[0] + ' - ' + i[1]]
        match_ratios.append(match_ratios_i)
    match_ratios.sort(reverse = True)
    
    return match_ratios

repeating_cols(calendar)

[[98.04278050488703, 'price - adjusted_price'],
 [10.11745333811297, 'available - minimum_nights'],
 [0.5333438319557345, 'minimum_nights - maximum_nights'],
 [0.04635970628722435, 'available - maximum_nights'],
 [0.0, 'price - minimum_nights'],
 [0.0, 'price - maximum_nights'],
 [0.0, 'listing_id - price'],
 [0.0, 'listing_id - minimum_nights'],
 [0.0, 'listing_id - maximum_nights'],
 [0.0, 'listing_id - date'],
 [0.0, 'listing_id - available'],
 [0.0, 'listing_id - adjusted_price'],
 [0.0, 'date - price'],
 [0.0, 'date - minimum_nights'],
 [0.0, 'date - maximum_nights'],
 [0.0, 'date - available'],
 [0.0, 'date - adjusted_price'],
 [0.0, 'available - price'],
 [0.0, 'available - adjusted_price'],
 [0.0, 'adjusted_price - minimum_nights'],
 [0.0, 'adjusted_price - maximum_nights']]

In [10]:
# drop primarily repeating columns (adjuted price)

calendar = calendar.drop(columns = 'adjusted_price')
calendar.head()

   listing_id        date  available   price  minimum_nights  maximum_nights
0       31380  2019-07-10      False   75.00               3            1125
1       18666  2019-07-10      False  130.00               3             730
2       18666  2019-07-11      False  130.00               3             730
3       18666  2019-07-12      False  130.00               3             730
4       18666  2019-07-13      False  130.00               3             730

In [11]:
# starting column dtypes

calendar.dtypes

listing_id         int64
date              object
available           bool
price             object
minimum_nights     int64
maximum_nights     int64
dtype: object

In [12]:
calendar = calendar.astype({'date': 'datetime64', 'price': 'float64'})
calendar.dtypes

listing_id                 int64
date              datetime64[ns]
available                   bool
price                    float64
minimum_nights             int64
maximum_nights             int64
dtype: object

In [13]:
calendar.head()

   listing_id       date  available  price  minimum_nights  maximum_nights
0       31380 2019-07-10      False   75.0               3            1125
1       18666 2019-07-10      False  130.0               3             730
2       18666 2019-07-11      False  130.0               3             730
3       18666 2019-07-12      False  130.0               3             730
4       18666 2019-07-13      False  130.0               3             730

In [14]:
calendar.to_csv('calendar-clean.csv', index = False)

In [16]:
calendar.to_json('calendar.json', orient = 'split', index = False)